.p1 {
  background-color:aqua;
  font-style: cursive;
  font-size: 22px;
  margin: 10px 20px 30px 40px;
  padding: 10px;
  text-align: center;

}
h1, h2{
  font-style: cursive;
  color:black; 
  background-color: lightyellow;
  margin: 0 150px;
  padding: 10px;
}
* {
    background-color: beige;
}
.p2 {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: lightskyblue;
    font-weight: bold;
}

form {
    max-width: 250px;
    margin: 20px auto 40px auto;
    border:1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fafafa;
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;
}

form button {
      padding: 10px 20px;
      background-color: #007bff;
      border: none;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1rem;
    }

    form button:hover {
      background-color: #0056b3;
    }

.box-2d {
  width: 100px;
  height: 100px;
  background-color: violet;
  transition: transform 1s ease;
  margin: 0 auto 40px auto;
  cursor: pointer;
}

.box-2d:hover {
  transform: rotate(360deg) scale(1.15) translateX(0px);
}

.box-3d-container {
  perspective: 500px;
  width: 120px;
  margin: 0 auto 40px auto;
}

.box-3d {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  margin: 0 auto;
}

.box-3d:hover {
  transform: rotateY(180deg) translateZ(50px)
}

    nav a {
      float: center;
      display: block;
      text-align: center;
      margin: 10px 40px;
      padding: 14px 20px;
      border: 1px solid grey;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, sans-serif;
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
    }